<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.fundacionmagtel.android.teleasistenciaticplus"
    android:versionCode="@string/version_code"
    android:versionName="@string/version_name" >
    <!--
        Android 5.0 - 21
        Android 4.1, 4.1.1	16	JELLY_BEAN
    -->
    <uses-sdk
        android:maxSdkVersion="21"
        android:minSdkVersion="16" />

    <!-- Permisos -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <!-- Telefono -->
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.PROCESS_OUTGOING_CALLS" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />

    <!-- Almacenamiento -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_INTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_INTERNAL_STORAGE" />

    <!-- GPS -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <!-- LISTA DE CONTACTOS -->
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <!-- SMS -->
    <uses-permission android:name="android.permission.SEND_SMS" />

    <!-- Mantener despierto la cpu -->
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <!-- Vibrador (el gustillo de ellas) -->
    <uses-permission android:name="android.permission.VIBRATE" />

    <!-- Aplicacion -->
    <application
        android:name=".modelo.Hook"
        android:allowBackup="false"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >

        <!-- Google maps -->
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyAwlFcksbWgpCtzWzVzsrUTTF0EbRwoqJI" />
        <!-- Fin cadenas de Google Maps -->


        <!-- Actividad de carga, MAIN -->
        <activity
            android:name=".act.actLoadingScreen"
            android:icon="@drawable/ic_launcher"
            android:label="@string/app_name"
            android:launchMode="singleInstance"
            android:relinquishTaskIdentity="true"
            android:screenOrientation="portrait"
            android:theme="@style/fullscreen" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Actividad principal -->
        <activity
            android:name=".act.main.actMain"
            android:icon="@drawable/ic_launcher"
            android:label="@string/title_activity_act_main"
            android:logo="@drawable/ic_launcher"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"
            android:parentActivityName=".act.actLoadingScreen">
        </activity>

        <!-- Actividad principal Debug -->
        <activity
            android:name=".act.debug.actMainDebug"
            android:label="@string/title_activity_act_main_debug"
            android:parentActivityName=".act.main.actMain"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".act.debug.actDebugMemory"
            android:label="@string/title_activity_act_debug_memory"
            android:parentActivityName=".act.debug.actMainDebug"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".act.debug.actDebugDataConnection"
            android:label="@string/title_activity_act_debug_data_connection"
            android:parentActivityName=".act.debug.actMainDebug"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".act.debug.actDebugCifrado"
            android:label="@string/title_activity_act_debug_cifrado"
            android:parentActivityName=".act.debug.actMainDebug"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".act.debug.actDebugShowLog"
            android:label="@string/title_activity_act_debug_show_log"
            android:parentActivityName=".act.debug.actMainDebug"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".act.debug.actDebugSMS"
            android:label="@string/title_activity_act_debug_sms"
            android:screenOrientation="portrait"
            android:parentActivityName=".act.debug.actMainDebug">
        </activity>
        <activity
            android:name=".act.debug.actDebugChronometer"
            android:label="@string/title_activity_act_debug_ducha"
            android:parentActivityName=".act.debug.actMainDebug"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".act.debug.actDebugGoogleServices"
            android:label="@string/title_activity_act_debug_google_services"
            android:parentActivityName=".act.debug.actMainDebug"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".act.debug.actDebugGoogleMaps"
            android:label="@string/title_activity_act_debug_google_maps"
            android:screenOrientation="portrait"
            android:parentActivityName=".act.debug.actMainDebug">
        </activity>
        <activity
            android:name=".act.debug.actDebugOjeadorBateria"
            android:label="@string/title_activity_act_debug_monitor_bateria"
            android:screenOrientation="portrait"
            android:parentActivityName=".act.debug.actMainDebug">
        </activity>
        <activity
            android:name=".act.debug.actDebugGpsSharedPreferences"
            android:label="@string/title_activity_act_debug_gps_shared_preferences"
            android:parentActivityName=".act.debug.actMainDebug">
        </activity>
        <activity
            android:name=".act.debug.actDebugUserConfig"
            android:label="@string/title_activity_act_debug_user_config"
            android:screenOrientation="portrait"
            android:parentActivityName=".act.debug.actMainDebug"  >
        </activity>
        <activity
            android:name=".act.debug.actDebugCaidas"
            android:label="@string/title_activity_act_debug_caidas"
            android:screenOrientation="portrait"
            android:parentActivityName=".act.debug.actMainDebug">
        </activity>
        <!-- Fin actividades Depuración -->


        <!-- Actividad de opciones de usuario -->

        <activity
            android:name=".act.user.actUserOptions"
            android:label="@string/title_activity_act_user_options"
            android:screenOrientation="portrait"
            android:parentActivityName=".act.main.actMain">
        </activity>

        <activity
            android:name=".act.user.actUserOptionsAbout"
            android:label="@string/title_activity_act_user_options_about"
            android:parentActivityName=".act.main.actMain"
            android:screenOrientation="portrait">
        </activity>

        <activity
            android:name=".act.user.actUserOptionsDatosPersonales"
            android:label="@string/title_activity_act_user_options_datos_personales"
            android:screenOrientation="portrait"
            android:parentActivityName=".act.user.actUserOptions">
        </activity>
        <activity
            android:name=".act.user.actUserOptionsPersonaContacto"
            android:label="@string/title_activity_act_user_options_persona_contacto"
            android:screenOrientation="portrait"
            android:parentActivityName=".act.main.actMain">
        </activity>
        <activity
            android:name=".act.user.actUserOptionsMonitorBateria"
            android:label="@string/title_activity_act_user_options_monitor_bateria"
            android:screenOrientation="portrait"
            android:parentActivityName=".act.user.actUserOptions">
        </activity>
        <activity
            android:name=".act.user.actUserOptionsManosLibres"
            android:label="@string/title_activity_act_user_options_manos_libres"
            android:screenOrientation="portrait"
            android:parentActivityName=".act.user.actUserOptions">
        </activity>

        <activity
            android:name=".presentador.actStaff"
            android:label="equipo emplea30"
            android:screenOrientation="portrait" >
        </activity>

        <!-- Fin Actividad de opciones de usuario -->


        <!-- Activades Botones Adicionales -->


        <!-- Modo Ducha -->
        <activity
            android:name=".act.ducha.actModoDucha"
            android:label="@string/title_activity_act_modo_ducha"
            android:screenOrientation="portrait"
            android:parentActivityName=".act.main.actMain">
        </activity>
        <activity
            android:name=".act.ducha.actDuchaCuentaAtras"
            android:label="@string/title_activity_act_ducha_cuenta_atras"
            android:parentActivityName=".act.ducha.actModoDucha"
            android:screenOrientation="portrait" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.fundacionmagtel.android.teleasistenciaticplus.act.ducha.actModoDucha" />
        </activity>

        <!-- Fin Activades Botones Adicionales -->


        <!-- Mensaje de tarificación extra -->
        <activity
            android:name=".act.actMensajeTarificacionExtraYPoliticaDeUso"
            android:label="@string/title_activity_act_mensaje_tarificacion_extra"
            android:screenOrientation="portrait"
            android:parentActivityName=".act.actLoadingScreen">
        </activity>
        <!-- Fin mensaje de tarificación extra -->


        <!-- Receiver del AppWidgetProvider, que es una especialización de BroadcastReceiver -->
        <receiver android:name=".act.widget.actWidget" >
            <intent-filter>

                <!-- Unico action que es necesario declarar explícitamente -->
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/xml_configwidget" />
        </receiver>
        <!-- Fin Receiver del AppWidgetProvider -->

        <service
            android:name=".lib.detectorCaidas.ServicioMuestreador"
            android:exported="false" />

        <activity
            android:name=".act.user.actUserOptionsCaidas"
            android:label="@string/title_activity_act_user_options_caidas"
            android:screenOrientation="portrait"
            android:parentActivityName=".act.user.actUserOptions">
        </activity>

        <!-- Actividad y servicio de Zona Segura -->
        <activity
            android:name=".act.user.actUserOptionsZonaSegura"
            android:label="@string/title_activity_act_user_options_zona_segura"
            android:screenOrientation="portrait"
            android:parentActivityName=".act.user.actUserOptions">
        </activity>
        <activity
            android:name=".act.zonasegura.actZonaSeguraHomeSet"
            android:label="@string/title_activity_act_zona_segura_set_home"
            android:screenOrientation="portrait"
            android:parentActivityName=".act.user.actUserOptionsZonaSegura">
        </activity>

        <service
            android:name=".act.zonasegura.serviceZonaSegura"
            android:exported="false"
            android:process=":miserviciozonasegura" >
            //Solo se puede llamar por nuestra aplicación //
        </service>
        <!-- Fin actividad y servicio de Zona Segura -->



    </application>

</manifest>
